*{
	margin:0;
	padding:0;
}

.DELETEonepage-pagination{
	background: rgb(105,9,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(105,9,0,1) 0%, rgba(161,27,6,1) 99%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(105,9,0,1) 0%,rgba(161,27,6,1) 99%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(105,9,0,1) 0%,rgba(161,27,6,1) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	padding: 7px 4px 7px 0px;
	border:1.5px solid #1b1d1e;

}

.onepage-pagination li a:before{
	background:white;
}

.onepage-pagination li a.active:before{
	border: 1px solid white;
}

/********************   Home Screen   ******************/

#sectionOne {
	background: rgb(105,9,0); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(105,9,0,1) 0%, rgba(161,27,6,1) 37%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, rgba(105,9,0,1) 0%,rgba(161,27,6,1) 37%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, rgba(105,9,0,1) 0%,rgba(161,27,6,1) 37%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.info-container-flex{
	height:35%;
	display:flex;
}
.disney{
	width:45%;
	height:100%;
}
.speech-bubble {
	width:65%;
	height:100%;
}

#bubble-pic {
	cursor:pointer;
}

#bubble-pic:active {
	transform: translateY(2px);
}

.speech-bubble img{
	padding:3em 1em 2em 1em;
	-webkit-animation: bubbleFloat 1s infinite;
	-webkit-animation-direction: alternate;
}

.baymax-container-flex {
	height:65%;
}

.baymax-scale {
	height:100%;
}

svg {
	height:100%;
	display:block;
	margin:0 auto;
	padding: 0em 1em;
}

@-webkit-keyframes blink {
	0% , 49%   { transform:scaleY(1); }
	50%   { transform:scaleY(.01); }
	51%, 100% { transform:scaleY(1); }
}

@-webkit-keyframes headSquish {
	0% , 49%   { transform:scaleY(1); }
	50%   { transform:scaleY(.95); }
	51%, 100% { transform:scaleY(1); }
}

@-webkit-keyframes rot {
	0% {
		transform: rotate(0deg)
		translate(10px)
		rotate(0deg);
	}
	15%, 100% {
		transform: rotate(360deg)
		translate(10px) 
		rotate(-360deg);
	}
}

@-webkit-keyframes bubbleFloat {
	0%   { transform:translateY(0px); }
	100% { transform:translateY(8px); }
}

#eyes {
	-webkit-animation: blink 8s infinite;
	transform-origin:center;

}

.armMoveAnimation {
	-webkit-animation: rot 6s infinite ease-in-out;

}

/*svg {
-webkit-filter: drop-shadow(8px 8px 10px black);  Chrome, Safari, Opera 
    filter: drop-shadow(8px 8px 10px black);
}
*/



/********************   Story Screen   ******************/

#sectionTwo {

/*	-webkit-box-shadow: inset 0px 0px 0px 5px rgba(156,25,8,1);
	-moz-box-shadow: inset 0px 0px 0px 5px rgba(156,25,8,1);
	box-shadow: inset 0px 0px 0px 5px rgba(156,25,8,1);*/
}

video{ 
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -100;
    object-fit: cover;

}


.story-box {
	width:100%;
	height:100%;
	margin:0 auto;
	position:fixed;
	display:flex;
	justify-content:center;
	align-items:center;
	background: rgb(161,27,6); 
	background: -moz-radial-gradient(center, ellipse cover, rgba(161,27,6,1) 0%, rgba(96,8,0,1) 100%); 
	background: -webkit-radial-gradient(center, ellipse cover, rgba(161,27,6,1) 0%,rgba(96,8,0,1) 100%); 
	background: radial-gradient(ellipse at center, rgba(161,27,6,1) 0%,rgba(96,8,0,1) 100%); 
	-webkit-filter: brightness(20%); /* Chrome, Safari, Opera */
	filter: brightness(20%);
}

.story-paragraph {
	text-align:center;
	color:white;
	font-size:30px;
}


/********************   Character screen   ******************/

.char-select-flex{
	height:15%;
	background:black;
	display:flex;
	flex-wrap:wrap;
	border-bottom: 2px solid black;
}


.char{
	width:33.333%;
	height:50%;
	flex-shrink:0;
	background-size:cover;
	background-position:center;
	-webkit-filter: brightness(40%); /* Chrome, Safari, Opera */
	filter: brightness(40%);
	-ms-transform: skewX(-25deg); /* IE 9 */
	-webkit-transform: skewX(-25deg); /* Safari */
	transform: skewX(-25deg); /* Standard syntax */
	transition: .2s all ease-in-out;
	overflow:hidden;

}

.char div {
	height:100%;
	width:132%;
	margin-left:-15%;
	-ms-transform: skewX(25deg); /* IE 9 */
	-webkit-transform: skewX(25deg); /* Safari */
	transform: skewX(25deg); /* Standard syntax */
	background-size:cover;
	background-position:center;
}

#hiro div {
	background-image:url("../images/hiro-thumb.jpg");
}

#baymax div {
	background-image:url("../images/baymax-thumb.jpg");
}

#gogo div {
	background-image:url("../images/gogo-thumb.jpg");
}

#honey div {
	background-image:url("../images/honey-thumb.jpg");
}

#wasabi div {
	background-image:url("../images/wasabi-thumb.jpg");
}

#fred div {
	background-image:url("../images/fred-thumb.jpg");
}


@-webkit-keyframes glow {
	from {-webkit-filter: brightness(100%);}
	to {-webkit-filter: brightness(130%);}
} 

.char-active {
	-webkit-animation: glow 1.3s infinite;
	-webkit-animation-direction: alternate; 
}

.char-info-flex {
	height:85%;
	display:flex;
	align-items:flex-end;
	background-image:url(../images/hiro-mob-bg.jpg);
	background-size:cover;
	background-position:center;
	transition: background-image 0.3s;
}


.char-info-container{
	padding:.3em 2em;

}

.char-info-container h3{
	background: linear-gradient(to bottom, rgba(55,59,63,1) 0%,rgba(27,29,30,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

	color:white;
	margin:0;
	padding:.5em;
	text-align:center;
	font-family: 'Play', sans-serif;
	font-weight:bold;
	border: 1px solid black;
	
}

.char-info-container p{

	color:rgba(27,29,30,1);
	padding:1em;
	border: 1px solid black;
	
}

.char-info-container div {
	display:none;
}

.char-info {
	-webkit-box-shadow: 0px 0px 57px -4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 57px -4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 57px -4px rgba(0,0,0,0.75);
	background:white;
}

@media screen and (min-width: 768px) {

	.shove-left {
	transform: translateX(-20px);
}


	.char{
		width:16.666666%;
		height:100%;
		flex-shrink:0;

	}

	.char-info-container{
		width:50%;
		margin:0 auto;
	}

	#hiro div {
		background-image:url("../images/hiro-desk-thumb.jpg");
	}

	#baymax div {
		background-image:url("../images/baymax-desk-thumb.jpg");
	}

	#gogo div {
		background-image:url("../images/gogo-desk-thumb.jpg");
	}

	#honey div {
		background-image:url("../images/honey-desk-thumb.jpg");
	}

	#wasabi div {
		background-image:url("../images/wasabi-desk-thumb.jpg");
	}

	#fred div {
		background-image:url("../images/fred-desk-thumb.jpg");
	}
}

@media screen and (min-width: 992px) {

	.shove-left {
	transform: translateX(-50px);
}


	.char-info-container{
		width:30%;
		margin:0 auto;
	}
	}
